{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/components/(.*)$",
    "^@/app/(.*)$",
    "^@/lib/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false
}
